  
{% extends "base.html" %}

<!-- ---- Page Title ------ -->

{% block title %}CHINA News Page{% endblock %}

<!-- ---- Page Body ---- -->

{% block content %}
<!-- -------- web body Here --------- -->
<div class="category ml-1">
    <div class="row">
      <div class="col"><a href="/category/cn/entertainment">Entertainment</a></div>
      <div class="col"><a href="/category/cn/general">General</a></div>
      <div class="col"><a href="/category/cn/health">Health</a></div>
      <div class="col"><a href="/category/cn/science">Science</a></div>
      <div class="col"><a href="/category/cn/sports">Sports</a></div>
      <div class="col"><a href="/category/cn/Technology">Technology</a></div> 
    </div>
  </div>
<hr class="w-75">
{% for article in news['articles']%}
  <div class="card col-md-8 mb-3 mx-auto">
    <img src="{{article['urlToImage']}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{article['title']}}</h5>
      <p class="card-text">{{article['description']}} {{article["content"]}}</p>
      <p class="card-text">Source : <a href="{{article['url']}}">{{article["source"]["name"]}}</a></p>
      <p class="card-text"><small class="text-muted">Posted : {{article["publishedAt"]}}</small></p>
    </div>
  </div>
  {% endfor %}

{% endblock %}