
{% extends "base.html" %}

<!-- ---- Page Title ------ -->

{% block title %}Index Page{% endblock %}

<!-- ---- Page Body ---- -->

{% block content %}
<!-- NEW BODY  -->

<!-- <div class="container-fluid my-container-fluid"> -->

  <div class="container my-container">
    <div class="row">
      <div class="col headline-div">
        <h2 class="title">Headlines</h2>
        <hr class="line">
        <a href="/headlines">
          <p class="see-all">See All</p>
        </a> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7 my-left-headlines-div p-0">
        <img class="my-left-headlines-img" src="{{headlines_data['articles'][1]['urlToImage']}}" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="...">
      </div>
      <div class="col">
        <h4>{{headlines_data['articles'][1]['title']}}</h4>
        <hr>
        <div class="overflow-auto my-right-headlines-div-content">
        <p class="content">{{headlines_data['articles'][1]['content']}}</p>
      </div>
        <p class="time">{{headlines_data['articles'][1]['publishedAt']}}</p>
      </div>
    </div>
    <div class="row">

      <div class="col p-0 my-headline-bottom-col">
        <div class="my-headline-bottom-col-img-div">
          <img class="my-headline-bottom-col-img" src="{{headlines_data['articles'][5]['urlToImage']}}" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="...">
        </div>
        <div>
          <div class="col p-0 my-headline-bottom-col-content-div" >
            <p>{{headlines_data['articles'][5]['title']}}</p>
          </div>
          <p class="time">{{headlines_data['articles'][5]['publishedAt']}}</p>
        </div>
      </div>

      <div class="col p-0 m-1 my-headline-bottom-col">
        <div class="my-headline-bottom-col-img-div">
          <img class="my-headline-bottom-col-img" src="{{headlines_data['articles'][3]['urlToImage']}}" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="...">
        </div>
        <div>
          <div class="col p-0 my-headline-bottom-col-content-div" >
            <p>{{headlines_data['articles'][3]['title']}}</p>
          </div>
          <p class="time">{{headlines_data['articles'][3]['publishedAt']}}</p>
        </div>
      </div>

      <div class="col p-0 m-1 my-headline-bottom-col">
        <div class="my-headline-bottom-col-img-div">
          <img class="my-headline-bottom-col-img" src="{{headlines_data['articles'][4]['urlToImage']}}" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="...">
        </div>
        <div>
          <div class="col p-0 my-headline-bottom-col-content-div" >
            <p>{{headlines_data['articles'][4]['title']}}</p>
          </div>
          <p class="time">{{headlines_data['articles'][4]['publishedAt']}}</p>
        </div>
      </div>
      </div>

    <!-- TECH NEWS  -->
    <div class="row">
      <div class="col headline-div">
        <h2 class="title">Technology</h2>
        <hr class="line">
        <a href="/techcrunch">
          <p class="see-all">See All</p>
        </a> 
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 my-tech-news-col">
          <div>
            <img src="{{tech_crunch_data['articles'][0]['urlToImage']}}" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="">
          </div>
          <div>
            <h5>{{tech_crunch_data['articles'][0]['title']}}</h5>
            <hr>
            <p>{{tech_crunch_data['articles'][0]['description']}}</p>
            <p class="time">{{tech_crunch_data['articles'][0]['publishedAt']}}</p>
          </div>
        </div>
        <div class="col-md-4 my-tech-news-col">
          <div>
            <img src="{{tech_crunch_data['articles'][1]['urlToImage']}}" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="">
          </div>
          <div>
            <h5>{{tech_crunch_data['articles'][1]['title']}}</h5>
            <hr>
            <p>{{tech_crunch_data['articles'][1]['description']}}</p>
            <p class="time">{{tech_crunch_data['articles'][1]['publishedAt']}}</p>
          </div>
        </div>
        <div class="col-md-4">
        <div> 
          <h5>Top Tech News</h5>
        </div> 
        <hr>
          <div class="overflow-auto my-tech-news-col">
          <ul>
        {% for article in tech_crunch_data['articles'] %}
            <li>{{article.title}}</li> 
        {% endfor %}
          </ul>
        </div>
        </div>  
       </div>
    </div>
  </div>


  <!-- </div> -->

{% endblock %}