  
{% extends "base.html" %}

<!-- ---- Page Title ------ -->

{% block title %}TURKEY News Page{% endblock %}

<!-- ---- Page Body ---- -->

{% block content %}
<!-- -------- web body Here --------- -->
<div class="category ml-1"ss>
    <div class="row">
      <div class="col"><a class="category-attributes category-text" href="/category/tr/entertainment">Entertainment</a></div>
      <div class="col"><a class="category-attributes category-text" href="/category/tr/general">General</a></div>
      <div class="col"><a class="category-attributes category-text" href="/category/tr/health">Health</a></div>
      <div class="col"><a class="category-attributes category-text" href="/category/tr/science">Science</a></div>
      <div class="col"><a class="category-attributes category-text" href="/category/tr/sports">Sports</a></div>
      <div class="col"><a class="category-attributes category-text" href="/category/tr/Technology">Technology</a></div> 
    </div>
  </div>
<hr class="w-75">
{% for article in news['articles']%}
  <div class="card col-md-8 mb-3 mx-auto">
    <img src="{{article['urlToImage']}}" class="card-img-top" onerror="this.onerror=null; this.src='/static/images/no-image.jpg'" alt="">
    <div class="card-body">
      <h5 class="card-title">{{article['title']}}</h5>
      <p class="card-text">{{article['description']}} {{article["content"]}}</p>
      <p class="card-text">Source : <a href="{{article['url']}}">{{article["source"]["name"]}}</a></p>
      <p class="card-text time"><small class="text-muted">{{article["publishedAt"]}}</small></p>
    </div>
  </div>
  {% endfor %}


{% endblock %}