  
{% extends "base.html" %}

<!-- ---- Page Title ------ -->

{% block title %}Log In Page{% endblock %}

<!-- ---- Page Body ---- -->

{% block content %}
<!-- -------- web body Here --------- -->

<form method="POST" style="margin-top: 60px;">
  <div class="row">
    <div class="form-group col-md-6 col-sm-8 m-3 border mx-auto shadow p-3 mb-5 bg-white rounded">
      <h3 class='h3 m-4'>Sign In to your Account</h3>
      <hr>
    {{form.hidden_tag()}}
    <!-- -- -->
    {% for field in form if field.widget.input_type != 'hidden' %}
      <label class="ml-4 mt-2" for="">{{field.label}}</label> {{field (class_="form-control col-8 ml-4")}} 
      <!-- --- -->
      {% for error in field.errors %}
      <small class="alert alert-danger">{{error}} </small>{%endfor%}
    {% endfor%}
    <button class="btn btn-success ml-4 mt-3" type="submit">Submit</button>
    <hr>
    <p>Not registered? <a href="/register">Create an Account.</a></p>
  </div>
  </div>
  </form>

{% endblock %}
  
